
@{
    ViewBag.Title = "MailingAddress";
}
<div class="d-none d-lg-block" style="height:5vh;"></div>


<div class="container gx-1 gx-lg-0 mt-3 mt-lg-5 h-100 my-auto px-3 px-lg-0">
    <div class="row mt-2 justify-content-center h-100 my-auto">
        <div class="col-lg-8">
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-5 text-center position-relative">
                    <h3>Change Card Pin</h3>
                    <p class="mb-4">
                        Create or change any of your debit or credit card PIN.
                    </p>
                </div>
                <div id="firstPage" class="col-12 col-lg-10 ">
                    <div class="row mb-0">
                        <label for="tranAmount" class="col-sm-12 col-form-label">Select your account</label>
                        <div class="col-sm-12 mb-2">

                            <select class="form-select" id="accNum" aria-label="Default select example">
                                <option selected>Please select</option>
                                <option value="1">4000151818158236</option>
                                <option value="2">9577445338254589</option>
                                <option value="3">1235489818021458</option>
                                <option value="4">1235489158236111</option>
                                <option value="5">4533825382544453</option>
                                <option value="6">7445338254553684</option>
                                <option value="7">0248891234486685</option>

                            </select>
                            <span class="field-validation-valid text-danger ps-1" style="font-size:14px" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="row my-5 last-row">
                        <div class="col-12">
                            <a class="btn btn-dark float-start" href="@Url.Action("CardSettings", "Home")"> Back </a>
                            <a id="firstNext" class="btn btn-primary  float-end"> Next </a>
                        </div>
                    </div>
                </div>

                <div hidden id="secondPage" class="col-12 col-lg-10">
                    <form>
                        <div class="row mb-0">
                            <label for="tranAmount" class="col-sm-12 col-form-label">New Pin</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control mb-2" placeholder="New Pin">
                            </div>
                        </div>
                        <div class="row mb-0">
                            <label for="tranAmount" class="col-sm-12 col-form-label">Confirm New Pin</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control mb-2" placeholder="New Pin">
                            </div>
                        </div>

                        <div class="row mb-0">
                            <label for="tranAmount" class="col-sm-12 col-form-label">OTP</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="PAC">
                                <span>Didn't get the code</span>
                                <a hidden href="#" id="ResendPAC" class="text-decoration-none ms-3 mb-2">Resend(1/3)</a>
                                <p class="text-muted">A 6 digit OTP will be sent to your registered mobile phone number *****6168. Please click "Request PAC" if you wish to proceed</p>
                            </div>
                            <div class="col-sm-3 text-end text-lg-center mt-0 mt-lg-0">
                                <a class="btn btn-outline-primary pac text-white float-lg-end">Request OTP</a>
                            </div>
                            <div class="mt-0">


                            </div>
                        </div>
                    </form>
                    <div class="row my-5">
                        <div class="col-12">
                            <a class="btn btn-dark float-start" href="@Url.Action("CardSettings", "Home")"> Back </a>
                            <a class="btn btn-outline-primary btnReset float-end float-sm-none float-lg-end float-xxl-none ms-2"> Clear </a>
                            <a id="secondNext" class="btn btn-primary col-12 col-sm-3 mt-2 mt-sm-0 float-sm-end col-lg-12 mt-lg-2 col-xxl-3 mt-xxl-0"> Next </a>
                        </div>
                    </div>
                </div>

                <div hidden id="thirdPage" class="col-12 col-lg-10 mt-3 ">
                    <div class="p-4 shadow bg-white rounded-8">

                        <div class="row logoRow mb-4">

                            <div class="col-lg-2 col-3 checkIconDIV">

                                <div class="successIcon text-start">
                                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                        <path class="checkmark__check" fill="none"
                                              d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                    </svg>
                                </div>

                            </div>

                            <div class="col-lg-10 col-9 checkTextDIV">
                                <h5>Pin Changed Successfully</h5>
                                <p class="text-muted">4 May 2018, 12:59:12pm</p>
                            </div>

                        </div>

                        <div class="row detailsRow">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                <label>Reference Number</label>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                <label>RR232382989FH</label>
                            </div>

                        </div>

                        <div class="row detailsRow">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                <label>Card</label>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                <label>xxxx xxxx xxxx 3106</label>
                            </div>

                        </div>

                        <div class="row detailsRow mt-5">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-start leftReference">
                                <label>
                                    Please be informed that you are responsible to safeguard your Card PIN at all
                                    times. To know more about our Card Promotions, please visit our website at
                                    www.pbebank.com
                                </label>
                            </div>

                        </div>

                    </div>
                    <div class="row my-5 last-row">
                        <div class="col-12">
                            <a class="btn btn-outline-primary float-start"> Print </a>
                            <a id="secondNext" class="btn btn-primary  float-end" href="@Url.Action("CardSettings", "Home")"> Done </a>
                        </div>
                    </div>

                </div>

                <div class="alert alert-info col-12 col-lg-10 rounded-8 shadow-sm"  role="alert">
                    <b>Note</b><br>
                    <ul>
                        <li>Only active cards added to your PBe account will be displayed.</li>
                        <li>
                            If the card is not listed, go to Profile Maintenance, select Manage Profile and
                            click Add/Delete Account function to add the card.
                        </li>
                    </ul>
                </div>


            </div>




        </div>
        <div class="col-lg-4 col-12 last-row mt-5">
            <img src="~/Images/WebsiteImages/register-win-pbe-login02.jpg" class="img-fluid ads-form" />
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/js")
<script>
    $(document).ready(function () {
        $('.mobileNav').each(function () {
            $(this).removeClass('active');
        })
        $('.nav-link').each(function () {
            $(this).removeClass('active');
        })
        $('.profile').each(function () {
            $(this).addClass('active');
        });
        $('.profileMenu').addClass('active');

        $('#firstNext').on('click', function () {
            
            if (validate() == true) {
                $('#secondPage').attr('hidden', false);
                $('#firstPage').attr('hidden', true);
                $('#thirdPage').attr('hidden', true);
            }

        });
        $('.pac').on('click', function () {
            Swal.fire(
                'OTP is Sent!',
                'OTP sent to your phone number 012 - * * * * 123',
                'success'
            )
            $('#secondNext').removeClass('disabled');
        })
        $('#secondNext').on('click', function () {
            Swal.fire({
                title: 'Your Card Pin is Successfully Changed!',
                icon: 'success',
                customClass: {
                    title: 'alertFontStyle'
                }
            }).then(function () {
                $('#thirdPage').attr('hidden', false);
                $('#secondPage').attr('hidden', true);
                $('#firstPage').attr('hidden', true);
            });

        })

        function validate() {
            var thisValue = "";
            var strResult = "";

            // Start Date

            thisValue = $("#accNum").val();
            strResult = onInputValidate(thisValue);
            $("#accNum").next(".text-danger").html(strResult);
            if (strResult == "") {
                return true;
            } else {
                return false;
            }
        }

        function onInputValidate(thisValue) {
            
            if (thisValue == null || thisValue == "" || thisValue == "Please select") {
                return "<span>This field is required.</span>";
            }
            return "";
        }
    });
        $('.btnReset').on('click', function () {
        $('form')[0].reset();
    })
</script>


