<div class="d-none d-lg-block"></div>

<div class="container-fluid gx-1 gx-lg-0 mt-3 mt-lg-5">

    <div class="row justify-content-center">

        <div class="col-lg-5 col-12 text-center">

            <div class="d-flex justify-content-center">

                <div class="iconProfile d-flex justify-content-center" style="width:200px; height:150px;">
                    <img src="~/Images/WebDecoratives/Letter between friends.svg" />
                </div>

            </div>

            <h3 class="mt-3 mb-0">Cheque Management</h3>

            <p class="small text-muted mb-0">
                A one stop centre for you to manage everything to do with cheques from
                requesting new cheque books to stopping cheques.
            </p>

        </div>

    </div>

    <div class="row mainRow pb-5 mt-3 mt-lg-2 justify-content-center">

        <div class="col-lg-10 col-xl-8">

            <div class="row">

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("ChequeRequest","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-between bg-white border-bottom-sa setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">
                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Request Cheque Book</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Request Cheque Book</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            Request for a new cheque book for your current account.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/checkbook.png" class="mb-4 img-fluid" style="width: 85px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("ChequeStop","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-center bg-white border-bottom-sm setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">

                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Stop Cheque</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Stop Cheque</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            Request for a cheque that you had issued to be stopped.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/cancelation.png" class="mb-4 img-fluid" style="width: 85px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("ChequeEnquire","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-center bg-white border-bottom-sm setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">
                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Enquire Cheque Status</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Enquire Cheque Status</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            Inquire the status of your issued cheques.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/check-list.png" class="mb-4 img-fluid" style="width: 85px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>



            </div>

            <div class="row justify-content-center">

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("RegisterPositivePay","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-center bg-white border-bottom-sm setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">
                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Register Positive Pay</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Register Positive Pay</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            Activating Positive Pay will ensure that you are secured by verifying
                                            cheques submitted for payment against cheques that you had inserted to
                                            Positive Pay.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/document.png" class="mb-4 img-fluid" style="width: 85px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("TerminatePositvePay","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-center bg-white border-bottom-sm setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">
                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Terminate Positive Pay</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Terminate Positive Pay</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            This stops Public Bank from cross checking the cheques issued for
                                            payment.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/cancel.png" class="mb-4 img-fluid" style="width: 85px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("InsertCheque","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-center bg-white border-bottom-sm setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">
                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Positive Pay - Insert Cheque</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Positive Pay - Insert Cheque</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            Insert cheques to Positive Pay to ensure that your payment is received
                                            by the intended payee.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/file.png" class="mb-4 img-fluid" style="width: 85px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>

                <div class="col-12 col-xl-4 px-lg-3 mt-4">

                    <a href="@Url.Action("InquiryPostivePay","Home")">

                        <div class="row ps-2 ps-lg-0 rounded-8 h-100 justify-content-lg-center bg-white border-bottom-sm setting">

                            <div class="col-10 col-lg-7 ps-lg-4 py-3 my-auto">
                                <div class="row-cols-1">
                                    <div class="col h-25">
                                        <h5 class="d-none d-lg-block text-black">Positive Pay - Inquire/Delete Cheque</h5>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0 d-lg-none d-block text-black">Positive Pay - Inquire/Delete Cheque</p>
                                    </div>
                                    <div class="col h-50">
                                        <p class="small d-lg-block d-none text-muted">
                                            Inquire or delete a cheque that you had previously submitted to Positive Pay.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 text-center d-none d-lg-block my-auto">
                                <img src="~/Images/WebsiteImages/research.png" class="mb-4 img-fluid" style="width: 75px;left: 70px;top: 40px;" />
                            </div>

                            <div class="col-2 d-block d-lg-none my-auto">
                                <img class="img-fluid img-Quick mx-auto" width="20" height="20"
                                     src="/puvan/icon/jpg/arrow.png" />
                            </div>

                        </div>

                    </a>

                </div>
            </div>

        </div>

    </div>
</div>
